*.aux
*.bbl
*.blg
*.dvi
*.log
*~
auto/
build/
run/
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
packages/PIPS/pips/pips_config.h.in
