[global]
sources_dir=/home/serge/sources/pips/pips/validation/Pysac
tools_c=%(sources_dir)s/tools.c
data_file=/tmp/data_file
iterations_bench=1
include_dirs=%(sources_dir)s
args_validate=10 %(data_file)s
;args_benchmark=995999 %(data_file)s
;args_benchmark=99899999 %(data_file)s
args_benchmark=1000000 %(data_file)s
array_size_val=15
val_dir=/home/serge/sources/pips/pips/prod/pips/src/Passes/pyps/drivers/sac/validation
memalign=False
arg_kernel_size=0

[alphablending]
files=%(sources_dir)s/alphablending.c:%(tools_c)s
module=alphablending

[vecacc]
files=%(sources_dir)s/vecacc.c:%(tools_c)s
module=vecacc

[ddot_r]
files=%(sources_dir)s/ddot_r.c:%(tools_c)s
module=ddot_r

[average_power]
files=%(sources_dir)s/average_power.c:%(tools_c)s
module=average_power


[convol3x3]
files=%(sources_dir)s/convol3x3.c:%(tools_c)s
module=convol3x3


[daxpy_r]
files=%(sources_dir)s/daxpy_r.c:%(tools_c)s
module=daxpy_r


[daxpy_ur]
files=%(sources_dir)s/daxpy_ur.c:%(tools_c)s
module=daxpy_ur


[ddot_ur]
files=%(sources_dir)s/ddot_ur.c:%(tools_c)s
module=ddot_ur

[ddot_uri]
files=%(sources_dir)s/ddot_uri.c:%(tools_c)s
module=ddot_uri

[dscal_r]
files=%(sources_dir)s/dscal_r.c:%(tools_c)s
module=dscal_r


[dscal_ur]
files=%(sources_dir)s/dscal_ur.c:%(tools_c)s
module=dscal_ur


[fir]
files=%(sources_dir)s/fir.c:%(tools_c)s
module=fir
args_benchmark=50000 %(data_file)s

[gaussian_noise_reduce]
files=%(sources_dir)s/gaussian_noise_reduce.c:%(tools_c)s
module=gaussian_noise_reduce


[matrix_add_const]
files=%(sources_dir)s/matrix_add_const.c:%(tools_c)s
module=matrix_add_const
args_benchmark=10000 %(data_file)s


[matrix_mul_const]
files=%(sources_dir)s/matrix_mul_const.c:%(tools_c)s
module=matrix_mul_const
args_benchmark=10000 %(data_file)s


[matrix_mul_matrix]
files=%(sources_dir)s/matrix_mul_matrix.c:%(tools_c)s
module=matrix_mul_matrix
args_benchmark=1000 %(data_file)s


[matrix_mul_vect]
files=%(sources_dir)s/matrix_mul_vect.c:%(tools_c)s
module=matrix_mul_vect
args_benchmark=10000 %(data_file)s


[sum_f]
files=%(val_dir)s/ops.c:%(tools_c)s
module=sum_f
args_validate=0 %(array_size_val)s %(data_file)s
args_benchmark=0 10000 %(data_file)s

[mul_f]
files=%(val_dir)s/ops.c:%(tools_c)s
module=mul_f
args_validate=1 %(array_size_val)s %(data_file)s
args_benchmark=1 10000 %(data_file)s

[subs_f]
files=%(val_dir)s/ops.c:%(tools_c)s
module=subs_f
args_benchmark=2 10000 %(data_file)s
args_validate=2 %(array_size_val)s %(data_file)s

[div_f]
files=%(val_dir)s/ops.c:%(tools_c)s
module=div_f
args_benchmark=3 10000 %(data_file)s
args_validate=3 %(array_size_val)s %(data_file)s

[muladd_f]
files=%(val_dir)s/ops.c:%(tools_c)s
module=muladd_f
args_benchmark=4 10000 %(data_file)s
args_validate=4 %(array_size_val)s %(data_file)s

[umin_f]
files=%(val_dir)s/ops.c:%(tools_c)s
module=umin_f
args_benchmark=4 10000 %(data_file)s
args_validate=4 %(array_size_val)s %(data_file)s
