[app:main]
use = egg:pawsapp

pyramid.reload_templates = true
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.debug_templates = true
pyramid.default_locale_name = en
pyramid.includes = pyramid_debugtoolbar

# Paws settings
paws.public       = %(here)s/pawsapp/public/
paws.result_dir   = %(here)s/res/
paws.results      = public + result_dir
paws.validation   = %(here)s/../validation/Paws
paws.modules      = validation + 'pyps_modules'
paws.demo         = validation + 'tutorial/'
paws.marker       = '<END OF THE STEP>'
paws.images_class = 'ZOOM_IMAGE'


[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

# Begin logging configuration

[loggers]
keys = root, pawsapp

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_pawsapp]
level = DEBUG
handlers =
qualname = pawsapp

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s

# End logging configuration
