/* Home page */



/* Sidebar */

.sidebar h5 {
    margin: 1em 0;
    line-height: 1em;
}

/* Main column */

#classic-examples-dialog a {
    margin-bottom: 2px;
}

#sourcecode1, #resultcode {
    width: 1000px;
}