body {
    padding: 0;
    margin: 0;
    font-size: 50%;
}

.noprint {
    display: none;
}

.container-fluid {
    padding-left:0;
}
.row-fluid .span9 {
    width: 100%;
}

#resultcode pre {
    font-size: 100%;
    line-height: .8em;
}